In [2]:
# import packages
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df = pd.read_csv("../data/electric_vehicles.csv", sep=";", index_col=0)
df['City'] = df['City'].str.replace('\d+ ', '')

C:\Users\jchop\AppData\Local\Temp/ipykernel_31692/1959812668.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['City'] = df['City'].str.replace('\d+ ', '')

In [34]:
dv_ev_final = pd.read_excel("../data/excel.xlsx")
dv_ev_final

                   City  Count
0     Gondiswil Schweiz    1.0
1                Sattel    1.0
2               Steinen    3.0
3                Aadorf    2.0
4                 Aarau   16.0
...                 ...    ...
1113               Zuoz    2.0
1114             Zuzwil    3.0
1115           Zweidlen    1.0
1116         Zweisimmen    6.0
1117             Zürich   39.0

[1118 rows x 2 columns]

In [35]:
df = pd.merge(df, dv_ev_final, on="City")
df

                   City  2017  2018  2019  2020  2021  Count
0    Affoltern am Albis    29    35    54    75   103    5.0
1            Bonstetten    18    21    29    37    70    2.0
2        Mettmenstetten    20    26    36    41    60    3.0
3              Obfelden    11    18    30    40    68    1.0
4               Adlikon     1     5     4     6    11    1.0
..                  ...   ...   ...   ...   ...   ...    ...
686          Montfaucon     1     1     1     3     4    1.0
687         Le Noirmont     0     1     1     3    12    3.0
688        Saignelégier     1     2     3     9    14    1.0
689          Porrentruy     7    10    15    29    49    3.0
690        Vendlincourt     0     0     0     0     3    1.0

[691 rows x 7 columns]

In [36]:
growth_rate_2021=(df["2021"]-df["2020"])/df["2020"]
growth_rate_2020=(df["2020"]-df["2019"])/df["2019"]
growth_rate_2019=(df["2019"]-df["2018"])/df["2018"]
growth_rate_2018=(df["2018"]-df["2017"])/df["2017"]
gr_mean=(growth_rate_2021+growth_rate_2020+growth_rate_2019+growth_rate_2018)/4
df["2022_gr"] = round(df["2021"]*(1+gr_mean))
df["recomm_2022"] = round(df["Count"]*(1+(df["2022_gr"]-df["2021"])/df["2021"]))
df["diff_2022"] = df["recomm_2022"]-df["Count"]
df["2023_gr"] = round(df["2021"]*((1+gr_mean)**2))
df["recomm_2023"] = round(df["recomm_2022"]*(1+(df["2023_gr"]-df["2022_gr"])/df["2022_gr"]))
df["diff_2023"] = df["recomm_2023"]-df["recomm_2022"]
df["2024_gr"] = round(df["2021"]*((1+gr_mean)**3))
df["recomm_2024"] = round(df["recomm_2023"]*(1+(df["2024_gr"]-df["2023_gr"])/df["2023_gr"]))
df["diff_2024"] = df["recomm_2024"]-df["recomm_2023"]
df

,City,2017,2018,2019,2020,2021,Count,2022_gr,recomm_2022,diff_2022,2023_gr,recomm_2023,diff_2023,2024_gr,recomm_2024,diff_2024
0,Affoltern am Albis,29,35,54,75,103,5.0,142.0,7.0,2.0,196.0,10.0,3.0,270.0,14.0,4.0
1,Bonstetten,18,21,29,37,70,2.0,100.0,3.0,1.0,143.0,4.0,1.0,204.0,6.0,2.0
2,Mettmenstetten,20,26,36,41,60,3.0,79.0,4.0,1.0,105.0,5.0,1.0,139.0,7.0,2.0
3,Obfelden,11,18,30,40,68,1.0,108.0,2.0,1.0,171.0,3.0,1.0,270.0,5.0,2.0
4,Adlikon,1,5,4,6,11,1.0,25.0,2.0,1.0,57.0,5.0,3.0,131.0,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,Montfaucon,1,1,1,3,4,1.0,6.0,2.0,1.0,10.0,3.0,1.0,16.0,5.0,2.0
687,Le Noirmont,0,1,1,3,12,3.0,inf,inf,inf,inf,NaN,NaN,inf,NaN,NaN
688,Saignelégier,1,2,3,9,14,1.0,28.0,2.0,1.0,57.0,4.0,2.0,114.0,8.0,4.0
689,Porrentruy,7,10,15,29,49,3.0,80.0,5.0,2.0,131.0,8.0,3.0,215.0,13.0,5.0
690,Vendlincourt,0,0,0,0,3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df2 = df.dropna()
df2

,City,2017,2018,2019,2020,2021,Count,2022_gr,recomm_2022,diff_2022,2023_gr,recomm_2023,diff_2023,2024_gr,recomm_2024,diff_2024
0,Affoltern am Albis,29,35,54,75,103,5.0,142.0,7.0,2.0,196.0,10.0,3.0,270.0,14.0,4.0
1,Bonstetten,18,21,29,37,70,2.0,100.0,3.0,1.0,143.0,4.0,1.0,204.0,6.0,2.0
2,Mettmenstetten,20,26,36,41,60,3.0,79.0,4.0,1.0,105.0,5.0,1.0,139.0,7.0,2.0
3,Obfelden,11,18,30,40,68,1.0,108.0,2.0,1.0,171.0,3.0,1.0,270.0,5.0,2.0
4,Adlikon,1,5,4,6,11,1.0,25.0,2.0,1.0,57.0,5.0,3.0,131.0,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,Delémont,10,15,23,46,87,10.0,151.0,17.0,7.0,261.0,29.0,12.0,451.0,50.0,21.0
685,Develier,2,2,3,8,20,3.0,38.0,6.0,3.0,73.0,12.0,6.0,141.0,23.0,11.0
686,Montfaucon,1,1,1,3,4,1.0,6.0,2.0,1.0,10.0,3.0,1.0,16.0,5.0,2.0
688,Saignelégier,1,2,3,9,14,1.0,28.0,2.0,1.0,57.0,4.0,2.0,114.0,8.0,4.0
689,Porrentruy,7,10,15,29,49,3.0,80.0,5.0,2.0,131.0,8.0,3.0,215.0,13.0,5.0

In [ ]:
df2[df2["2021"]==df2["2021"].max()]

,City,2017,2018,2019,2020,2021,Count,2022_gr,recomm_2022,diff_2022,2023_gr,recomm_2023,diff_2023,2024_gr,recomm_2024,diff_2024
51,Zürich,815,940,1392,2036,3017,39.0,4208.0,54.0,15.0,5868.0,75.0,21.0,8185.0,105.0,30.0

In [86]:
df2['2021'].nlargest(5)

51     3017
202     922
47      830
64      820
265     785
Name: 2021, dtype: int64